.StyledContainer {
  background: linear-gradient(to bottom, #411d70, #19118b);
  height: 120vh;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.StyledPaper {
  padding: 20px;
  text-align: center;
  background-color: #1f1f38;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.StyledPaper:hover {
  background-color: #2c2c6c;
  color: white;
}

.StyledTypography {
  margin-bottom: 10px;
}
